/* =============================================================================
   Gallery Styles
   ========================================================================== */
	
	ul.display li  {   border: 5px solid #F1F1F1; }
	ul.display li:hover, #SearchContent .featured { border: 5px solid #b6b3b3;  }
	ul.display li:hover h2 a, #SearchContent .featured h2 a { color: #b6b3b3; } 
	.actions .add-box {  background:#666;; }
	ul.display li:hover .actions .add-box, ul.thumb_view li:hover  .actions .add-box {	background: #b6b3b3;		}
	.actions { background:#ddd; color:#444; }
	.itembox { border: 0px }
	
	#PPTHomePage #content { padding-top:10px !important; }
	 #page { background:#fff; }		
	
	 .left2cols { margin-left:0px; margin-right:20px; }
	 .left3cols { margin-left:0px; } .middle3cols { margin-left:10px; } .right3cols { margin-left:10px; }	
	
	/*
	COLOURS INCLUDE b6b3b3 / e3e3e3 
	*/
	/* ===================== GENERAL ======================== */ 

	body {  background: #fff url('../images/_grey/bg.jpg') repeat; }
	.wrapper { border:8px solid #fff; } 

    h1 { color: #b6b3b3;  font-weight:100; }
    h3 { color: #b6b3b3; font-weight:100;  }	
    ul.display li h2 a { color: #b6b3b3; }
	a { color: #b6b3b3; }
	#hpages a { color:#666; }
	#page { background:#fff; } 
	
	/* ===================== _HEADER STYLES ======================== */ 
 
	#header {   background: #fff url('../images/_grey/bg-header.jpg') repeat top right; height:100px; }
	.menu {   background: #fff url(../images/_grey/nav.jpg) repeat-x bottom left; height:45px !important; }	
	.menu li { line-height:30px; background: url(../images/_grey/menu_spacer.png) top right no-repeat; height:45px !important; }
	.menu li li { height:auto !important; }
	
	.menu li a { color:#b6b3b3; text-shadow: 0 1px 1px #fff; text-transform: uppercase; font-weight:100; padding-top:15px; }
	.menu li:hover {  background: url(../images/_grey/menu_spacer.png) top right no-repeat; }	
	.menu li:hover {  background:url(../images/_grey/nav-selected.jpg);   }
	.menu li:hover a { color:#fff; text-shadow: 0 1px 1px #666; }
	
	#searchBox { padding-left:5px;}	
	
	#AdvancedSearchBox { margin:20px;  }
	#submenubar { border-top: 1px solid #b6b3b3; border-bottom: 1px solid #ccc; background:#e3e3e3; }
	#footer { background:#1d1d1d; background-image:none; }	
 
 	/* HEADER PAGES NAV */
	#hpages { background:#fff; }	
	#hpages ul li { border-right: 1px solid #ddd; }
	#hpages ul li a { color:#666; }
	
	/* MAIN BOX COLORS*/
	.itembox { border: 1px solid #DADADA; }
	.itembox h2,.itembox h1, #icon-sidebar-basket h2  {  background: url(../images/_grey/itembox.gif) repeat-x; border-bottom:1px solid #ddd; color:#b6b3b3; padding-left:5px; text-transform:uppercase; font-weight:100; } 
	.itemboxinner { background: #F8F8F8;  }
 	
	/* ===================== HOME PAGE ======================== */ 	
	
	#PPTHomePage .RowWrapper { margin-top:25px; }
	#PPTHomePage .Row460 { float:left; width:460px; margin-left:15px; border-bottom:1px solid #eee; margin-bottom:10px; }
	#PPTHomePage .Row460 p { margin-left:10px; margin-top:10px; }
	#PPTHomePage .Rowa { float:left; width:90px; height:90px; }
	#PPTHomePage .Rowb { float:left; width:270px; height:90px; margin-right:10px; }
	#PPTHomePage .Rowb { color:#666;}
	#PPTHomePage .Rowc { float:left; width:80px; height:90px; }
	#PPTHomePage .Rowc1 { height:80px; overflow:hidden; }
	#PPTHomePage .Rowc img { max-width:80px; max-height:80px;}
	#PPTHomePage .imageBorder { border:5px solid #F1EFEE; }	 	
	#footer .first_col { color:#fff; }
 
	/* ===================== SIDEBAR.PHP ======================== */ 	
	
	#icon-sidebar-ProductPurchaseBlock { background: #b6b3b3; padding-left:15px;  }
	#ProductPurchaseBlock .itemboxinner {background: #F8F8F8;}	
	#icon-sidebar-basket .btnCheckout { background: #b6b3b3; border:1px solid #666; }
	#icon-sidebar-basket .itemboxinner { background: #F8F8F8; }
	
	/* ==================== SINGLE =========================== */
	
	.mainbox { background:#e3e3e3; }
	.infobar { background: #b6b3b3; }
	.infobar a, .infobar a b {color: #FFF; font-weight:100;  }	
	
	#icon-gallery-title, #icon-checkout-title {border-bottom: 0px;margin-bottom: 0px;padding: 5px;background: url(../images/_grey/itembox.gif) repeat-x; 
	color: #333;text-transform: uppercase;font-weight: 100;font-size:14px;color: #b6b3b3;}
	
	#siteFeature { margin-left:0px !important; width:960px !important; } 
	
 	/* ===================== FOOTER STYLES // 7.1.1 ======================== */  	
	
	#footer {background: #EFEFEF;border-top: 1px solid #DDD;}
		#footer .left3cols, #footer .middle2cols, #footer .middle3cols, #footer .right3cols { margin-top:0px; }
			#copyright { background:#666; }
			#copyright p {  padding:10px; color:#fff;  margin-bottom:0px; }
				#copyright p a { color:#fff; }