/* =============================================================================
   ShopperPress 7+ Developed by Mark Fail
   ========================================================================== */
   
	body {  background: #ebece3;  margin-top:10px; }
	.wrapper { background:#fff; border:10px solid #fff;  border-radius:20px 20px 20px 20px;    -moz-border-radius:20px 20px 20px 20px;    -webkit-border-radius:20px 20px 20px 20px; margin-bottom:20px;  } 
	 #PPTHomePage #content { padding-top:10px !important; }
/* =============================================================================
   Typography
   ========================================================================== */

    h1, h2, h3, h4 { color: #a2c535; } 
	
	.entry h1, .entry h2, .entry h3, .entry h4 { color: #A2C535 !important; }
 
/* =============================================================================
   Links
   ========================================================================== */
 
	a { color: #a2c535; }
	#hpages a { color:#666; }
 
/* =============================================================================
   Header
   ========================================================================== */
   
 	#header { 
	background: #ffffff;
	background: -moz-linear-gradient(top, #efefef, #ffffff, #ffffff, #ffffff 120%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(.4, #ffffff),  color-stop(.4, #ffffff));	
	border-radius:15px 15px 0 0;    -moz-border-radius:15px 15px 0 0;    -webkit-border-radius:15px 15px 0 0;  }
 
	#hpages { background:#fff; }	
	#hpages ul li { border-right: 1px solid #ddd; }
	#hpages ul li a { color:#666; }
	
/* =============================================================================
   menu + sub menu
   ========================================================================== */

	.menu {   background: #a2c535;    -moz-border-radius:8px;    -webkit-border-radius:8px; border-radius:8px 8px 8px 8px;   }	
	.menu li { line-height:30px; background: url(../images/menu_spacer.png) top right no-repeat; }
	.menu li a { text-shadow: 0px 0px 0px 0px #000 !important; color:#fff;  }
	.menu li:hover { background: url(../images/menu_spacer.png) top right no-repeat; }
 
	#submenubar {background: #fff; }


/* =============================================================================
   box styles / sidebar / main content / widget
   ========================================================================== */
 
	.itembox { border: 0px solid #E2E2E2; }
	.itembox h2.title,.itembox h1.title {  background:#a2c535; border-bottom:0px; color:#fff;  border-radius:8px 8px 8px 8px;    -moz-border-radius:8px 8px 8px 8px;    -webkit-border-radius:8px 8px 8px 8px; } 
	.itemboxinner { background:#fff;  }

/* =============================================================================
   Gallery Styles
   ========================================================================== */
	
	ul.display li  {   border: 5px solid #F1F1F1; }
	ul.display li:hover, #SearchContent .featured { border: 5px solid #a2c535;  }
	ul.display li:hover h2 a, #SearchContent .featured h2 a  { color: #a2c535; } 
	.actions .add-box {  background:#666;; }
	ul.display li:hover .actions .add-box, ul.thumb_view li:hover  .actions .add-box {	background: #a2c535;		}
	.actions { background:#ddd; color:#444; }
	.itembox { border: 0px }
	
/* =============================================================================
   Home Page
   ========================================================================== */
  
	.homepad { margin-left:10px; }		
	.hmail { width:980px; }
	.hmail1 { float:left; width:271px; margin-right:8px; height:600px; }
	.hmail2 {  float:left; width:690px;}
	.hmail3 {  float:left; width:240px; margin-top:10px; }
	.hmail4 { float:right;   margin-top:10px; } 

/* =============================================================================
   Sidebar Styles
   ========================================================================== */
 	
	#icon-sidebar-ProductPurchaseBlock { background: #a2c535;  border-radius:8px 8px 0px 0px;    -moz-border-radius:8px 8px 0px 0px;    -webkit-border-radius:8px 8px 0px 0px;}
	#ProductPurchaseBlock .itemboxinner {background: #f6ffd9;}	
	#icon-sidebar-basket h2 { background: #a2c535; border-radius:8px 8px 0px 0px;    -moz-border-radius:8px 8px 0px 0px;    -webkit-border-radius:8px 8px 0px 0px; }
	#icon-sidebar-basket .itemboxinner { background: #f6ffd9; }
	#icon-sidebar-basket .btnCheckout { background: #666; }
 	
/* =============================================================================
   Footer
   ========================================================================== */

	#footer {background: #efefef;background-image: none;border-radius:5px 15px 15px 15px;    -moz-border-radius:15px 15px 15px 15px;    -webkit-border-radius:15px 15px 15px 15px;margin-top:20px;color:#666;}
	#footer p { color:#666; }
	#footer h3 { color:#333; font-size:20px; }
	#footer a { text-decoration:underline; color:#666; }
	#fpages ul li a { color:#666; font-size:12px; }